# Qustion 1

Answer: values are:  hello,-87.8,and 6  
        And operators are:  * , - , / , +

# Question 2

Answer:
String is a value representing text.

And Variable is a name that can refer to any value.

# Question 3
### Three different data types are:
#### Text: String
#### Numeric Types: int,float,complex
#### Sequence Types: List,Tuple,Range

# Question 4
### Number,string,instance of a class are expression. Expression is something.
### Expression returns a result value

# Question 5
### An expression is something, while a statement does something.
### An expression can be a statement, but it should return a value.

# Question 6

In [2]:
bacon = 22
bacon + 1

23

# Quiestion 7

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam'*3

'spamspamspam'

# Question 8

### Variable is a name . We can not start the name of the variable with a number

# Question 9
### We can use int(),float(),and str() functions to get the integer,float and string version of a value.

#  Qustion 10
### We can't add string and integer. We need to convert 99 into a string

In [9]:
"I have eaten" +" "+str(99) +" "+'burritos.'

'I have eaten 99 burritos.'